##### --- PREFIX --- #####
unbind C-b
set -g prefix C-a
bind C-a send-prefix


##### --- MOUSE SUPPORT --- #####
set -g mouse on


##### --- SPLIT PANES (intuitive keys) --- #####
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %


##### --- TRUE COLOR SUPPORT --- #####
set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",xterm-256color:RGB"


##### --- SMARTER WINDOW NAMING --- #####
set -g allow-rename off
set -g automatic-rename on


##### --- ESCAPE TIME (better for shells + REPLs) --- #####
set -s escape-time 0


##### --- SYSTEM CLIPBOARD INTEGRATION --- #####
# macOS: pbcopy
# Linux: install xclip:
#   Ubuntu/Debian: sudo apt install xclip
#   Fedora: sudo dnf install xclip
#   Arch: sudo pacman -S xclip
#   openSUSE: sudo zypper install xclip
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xclip -selection clipboard"


##### --- RELOAD CONFIG --- #####
bind r source-file ~/.tmux.conf \; display-message "Reloaded tmux.conf"


##### --- STATUS BAR THEME (colorful + background + classic + metrics) --- #####
set -g status-style bg=colour236
set -g window-status-style bg=colour236
set -g window-status-current-style bg=colour236
set -g status-fg white
set -g status-interval 3

# Left: [session] window:windowname*
set -g status-left-length 60
set -g status-left "\
#[bg=colour236,fg=colour39,bold][#S] \
#[bg=colour236,fg=colour45]#I:#W#F \
#[bg=colour236,fg=colour226]#{prefix_highlight}"

# Right: CPU | MEM | GPU | VRAM | NET | hostname | time | date
set -g status-right-length 200
set -g status-right "\
#[bg=colour236,fg=colour39]CPU: #(tmux-cpu) \
#[fg=colour45]| MEM: #(tmux-mem) \
#[fg=colour201]| GPU: #(bash ~/.tmux/gpu.sh load) \
#[fg=colour196]| VRAM: #(bash ~/.tmux/gpu.sh vram) \
#[fg=colour33]| NET: #(tmux-net-speed) \
#[fg=colour82]| #(hostname) \
#[fg=colour226]| %H:%M %d-%b-%y"


##### --- TPM (Tmux Plugin Manager) --- #####
# Install TPM:
#   git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
#
# Install plugins:
#   Press prefix + I  (Ctrl+a then I)

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Additional plugins
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'
set -g @plugin 'tmux-plugins/tmux-sidebar'
set -g @plugin 'tmux-plugins/tmux-cpu'
set -g @plugin 'tmux-plugins/tmux-net-speed'
set -g @plugin 'tmux-plugins/tmux-fzf'

run '~/.tmux/plugins/tpm/tpm'
