addict
attrs
bitstring
cocotb
cocotb_bus==v0.1.1
cocotb-test
colorama
coverage
deepdiff
haggis
matplotlib-inline
oyaml
pathlib
prettytable
pyparsing
PySide2
pytest
pytest-forked
pytest-html
pytest-metadata
pytest-sugar
pytest-timeout
pytest-xdist
python-slugify
sympy
termcolor