addict
attrs
bitarray
bitstring
coverage
graphviz
intelhex
matplotlib
numpy
numexpr
pandas
psutil
pygments
pyserial
pytest
ruamel.yaml
sympy
wavedrom
jupyterlab
ipywidgets
ipympl
jupyterlab_pygments
nbwavedrom
nodejs
