addict
attrs
coverage
pytest
ruamel.yaml
bitarray
bitstring
graphviz
matplotlib
numpy
numexpr
pandas
pyserial
sympy
jupyterlab
ipywidgets
ipympl
pygments
jupyterlab_pygments
nbwavedrom
nodejs
wavedrom
intelhex
